<h1>Tags<%= link_to "", new_tag_path, class: "btn btn-info glyphicon glyphicon-plus pull-right"  %>
</h1>

<%= render "shared/flash" %>


<% @tags.each do |tag| %>
<div class="well">

  <h2>#<%= link_to tag.name, tag %>
  <%= link_to "", tag, method: :delete, class: 'btn btn-danger btn-sm glyphicon glyphicon-trash pull-right margin-left', data: {confirm: "Are you sure?"} %>

  </h2>

</div>
<% end %>

